.panel-14 {
  background: #FFFFFF;
  display: flex;
  padding-top: 1px;
  width: 1440px;
  box-sizing: border-box;
}
.panel-14 .frame-131 {
  margin-right: 99.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.panel-14 .group-48 {
  margin: 0 13.3px 60px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.panel-14 .frame-10 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.panel-14 .our-comprehensive-corporate-secretarial-services-online-offer-expert-support-for-all-your-compliance-needs-from-routine-filings-to-complex-regulatory-matters-our-team-provides-meticulous-secretarial-support-tailored-to-your-requirements {
  margin-bottom: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25.6px;
  letter-spacing: -0.8px;
  color: #333132;
}
.panel-14 .frame-1 {
  border-radius: 7px;
  background: #FCD17A;
  display: flex;
  align-self: flex-start;
  padding: 12px 13.9px 12px 12px;
  box-sizing: border-box;
}
.panel-14 .what-is-secretarial-compliance {
  margin: 0 131.5px 183px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 25.6px;
  letter-spacing: -0.5px;
  color: #414042;
}
.panel-14 .vector-2 {
  background: rgba(0, 0, 0, 0.14);
  margin: 0 4.4px 69px 0;
  width: 1105.5px;
  height: 0px;
}
.panel-14 .group-47 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1119px;
  box-sizing: border-box;
}
.panel-14 .frame-11 {
  position: relative;
  width: 748px;
  box-sizing: border-box;
}
.panel-14 .annual-filing-compliance {
  margin: 0 28px 33px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25.6px;
  letter-spacing: -0.8px;
  color: #000000;
}
.panel-14 .meeting-management {
  margin-right: 80.2px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25.6px;
  letter-spacing: -0.8px;
  color: #000000;
}
.panel-14 .share-capital-restructuring {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25.6px;
  letter-spacing: -0.8px;
  color: #000000;
}
.panel-14 .internal-records-management {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25.6px;
  letter-spacing: -0.8px;
  color: #000000;
}
.panel-14 .frame-13 {
  margin-left: 23.7px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.panel-14 .strike-off-support {
  margin-right: 51.9px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25.6px;
  letter-spacing: -0.8px;
  color: #000000;
}
.panel-14 .regulatory-compliance-review {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25.6px;
  letter-spacing: -0.8px;
  color: #000000;
}
.panel-14 .frame-12 {
  margin-bottom: 66px;
  display: flex;
  box-sizing: border-box;
}
.panel-14 .how-do-we-help {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 25.6px;
  letter-spacing: -0.5px;
  color: #414042;
}
.panel-14 .frame-132 {
  position: relative;
  margin: 149.5px 0 252.5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5px;
  height: fit-content;
  box-sizing: border-box;
}
.panel-14 .ellipse-3 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-4 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-5 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-6 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-7 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-8 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-9 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-10 {
  border-radius: 2.5px;
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-11 {
  border-radius: 2.5px;
  background: #D9D9D9;
  width: 5px;
  height: 5px;
}
.panel-14 .ellipse-31 {
  border-radius: 4.5px;
  background: #D9D9D9;
  position: absolute;
  top: 385px;
  right: 64px;
  width: 9px;
  height: 9px;
}
.panel-14 .frame-2 {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
  background: #FFFFFF;
  position: relative;
  margin-bottom: 114.5px;
  display: flex;
  padding: 28px 13.5px 28px 0;
  width: 1440px;
  box-sizing: border-box;
}
.panel-14 .logo {
  margin: 6px 0;
  width: 116px;
  height: 33px;
}
.panel-14 .frame-39 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.panel-14 .frame-68 {
  margin: 12px 40.1px 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 590px;
  height: fit-content;
  box-sizing: border-box;
}
.panel-14 .about {
  margin-right: 10.5px;
  width: 46px;
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.panel-14 .services {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.panel-14 .gift-city {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.panel-14 .dealstreet {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.panel-14 .resources {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.panel-14 .careers {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.panel-14 .frame-11 {
  border-radius: 7px;
  background: #FCD17A;
  display: flex;
  padding: 12px 12.5px 12px 12px;
  box-sizing: border-box;
}
.panel-14 .frame-162 {
  border-radius: 2px;
  background: #28AFA6;
  position: absolute;
  left: 623px;
  top: 25px;
  display: flex;
  padding: 0 3px 0 2px;
  box-sizing: border-box;
}
.panel-14 .new {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
}
.panel-14 .container {
  margin: 0 66px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.panel-14 .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1105.5px;
  height: fit-content;
  box-sizing: border-box;
}
.panel-14 .container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.panel-14 .container-3 {
  margin-bottom: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1109.9px;
  box-sizing: border-box;
}
.panel-14 .contact-us {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 25.6px;
  color: #000000;
}
.panel-14 .book-ameeting {
  overflow-wrap: break-word;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.panel-14 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}